fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-postgres
langchain-google-genai
langchain-groq
langchain-text-splitters
langchain-experimental
langchain-huggingface
postgrest
gotrue
httpx
storage3
supafunc
supabase
psycopg[binary]
sentence-transformers
scikit-learn
asyncpg
langchain-chroma
groq
python-dotenv
pymupdf
requests
fitz